ADP_PRACTICE1.Rmd linguist-vendored
ADP_PRACTICE1.html linguist-vendored

ADP_PRACTICE2.Rmd linguist-vendored
ADP_PRACTICE2.html linguist-vendored

ADP_PRACTICE3.Rmd linguist-vendored
ADP_PRACTICE3.html linguist-vendored
